body {
margin: 0;
overflow: hidden;
background: black;
touch-action: none;
}

/* Zona fullscreen */
#fullscreen-zone {
position: fixed;
top: 0;
left: 0;
width: 30vw;
height: 30vh;
z-index: 1000;
}

#coins-container {
position: fixed;
width: 100%;
height: 100%;
}

/* MONEDAS GRANDES CELULAR */
.coin {
position: absolute;
width: 22vw;
height: 22vw;
max-width: 160px;
max-height: 160px;
border-radius: 50%;

background: radial-gradient(circle at 30% 30%, #eee, #bbb, #777);

border: 4px solid #ddd;

box-shadow:
inset -8px -8px 16px rgba(0,0,0,0.6),
inset 8px 8px 16px rgba(255,255,255,0.4),
0 0 25px rgba(255,255,255,0.3);

pointer-events: none;
}